<label>Server name:</label>
<!-- <input type="text"
       class="form-control"
       (input)="onInputServerName($event)"> -->

<input type="text"
       class="form-control"
       [(ngModel)]="serverName">       
{{ serverName }}
<hr/>
<div class="container">
    <div class="row">
        <label>User name:</label>
        <input type="text" class="form-control" [(ngModel)]="username" >
        <p>{{ username }}</p>
        <button class="btn btn-primary" (click)="clearUserName()"
        [disabled]="clearUsernameDisabled()" >Clear username</button>
    </div>
</div>
<hr/>
<button id="btn01"
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button>
<p>{{ serverCreationStatus }}</p>
<app-server *ngFor="let server of servers"></app-server>
<hr/>
<button class="btn btn-primary"
(click)="mostraDetalhe()">Exibir detalhe</button>
<div *ngIf="showDetail">
    <p>A senha secretá é 'abc@123'</p>
    <div *ngFor="let exibicao of exibicoesDetalhe">
        <p [ngClass]="{exibicoes5: exibicao.id > 4}">Exibição {{exibicao.id}} feita em {{exibicao.data}}</p>
</div>
</div>
<hr/>