<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>Eu estou no App Component!</h3>
            <p appBetterHighlight [defaultColor]="'yellow'" [highLightColor]="'green'">Diretiva better-highlight - Uso 1</p>
            <p appBetterHighlight defaultColor="yellow" highLightColor="green">Diretiva better-highlight - Uso 1</p>
            <p *appUnless="false">Usando a diretiva Unless</p>
            <hr/>
            <app-servers></app-servers>
            Warning: <app-warning-alert></app-warning-alert>
            Sucesso: <app-success-alert></app-success-alert>
        </div>
    </div>
</div>
